<section class="testimonials">
  <h2>نظرات پزشکان</h2>

  <mat-card class="testimonial-card" *ngIf="testimonials.length">
    <img [src]="testimonials[currentIndex].image" alt="Customer" class="client-image">
    <p class="text">"{{ testimonials[currentIndex].text }}"</p>
    <h3>{{ testimonials[currentIndex].name }}</h3>
    <span class="role">{{ testimonials[currentIndex].role }}</span>

    <div class="controls">
      <button mat-icon-button (click)="prev()"><mat-icon>chevron_left</mat-icon></button>
      <button mat-icon-button (click)="next()"><mat-icon>chevron_right</mat-icon></button>
    </div>
  </mat-card>
</section>
